<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Javascript 回到顶部效果</title>

	<style type="text/css">
		.box{
			width: 1190px;
			margin:0 auto;
		}
		#btn{
			display: none;
			background: url(images/top_bg.png) no-repeat left top;
			width: 40px;
			height: 40px;
			position: fixed;
			right:65px;
			bottom:10px;
		}
		#btn:hover{
			background: url(images/top_bg.png) no-repeat 0 -39px;
		}
	</style>
	<script type="text/javascript" src="script/script.js"></script>
</head>
<body>
	<div class="box">
		<img src="images/tb_bg.jpg">
	</div>
	<a href="javascript:;" id="btn" title="回到顶部"></a>
	
</body>
</html>